[submodule "Java Web Development Fundamentals/Modlue02/guide-to-java-design-patterns"]
	path = Java Web Development Fundamentals/Modlue02/guide-to-java-design-patterns
	url = https://github.com/LinkedInLearning/guide-to-java-design-patterns-4512383.git
